---
import "../styles/global.css";
const {
  title = "whimsy",
  description = "a very whimsy ysws",
  image = "/assets/whimsy-thumbnail.png",
} = Astro.props;
const imageUrl = new URL(image, Astro.site ?? Astro.url.origin).toString();
const pageUrl = new URL(
  Astro.url.pathname,
  Astro.site ?? Astro.url.origin,
).toString();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/png"
      href="/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />

    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={imageUrl} />
    <meta property="og:image:width" content="2364" />
    <meta property="og:image:height" content="1286" />
    <meta property="og:url" content={pageUrl} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
